/* module-key = 'confluence.extra.jira:jirachart-resources', location = '/jirachart/jirachart.css' */
#jira-chart .jira-chart-search{padding:10px 10px 0 10px}#jira-chart .jira-chart-search .search-help{font-size:10px}#jira-chart-content-createdvsresolved,#jira-chart-content-pie,#jira-chart-content-twodimensional{position:relative;z-index:40;height:470px;overflow:hidden;margin-top:10px}#jira-chart .jira-chart-img{margin:10px;padding:0;overflow:hidden}#chart-preview-iframe{border:0;height:375px;width:100%;margin-top:-20px}.aui-message-container{text-align:left}.jira-chart-macro-wrapper .info,.created-vs-resolved-info,.jira-chart-macro-preview-container{text-align:center}.jira-chart-macro-img,.jira-chart-macro-img-created-vs-resolved{display:block;margin-left:auto;margin-right:auto}.jira-chart-macro-wrapper,.jira-chart-macro-wrapper-created-vs-resolved{padding:10px 0;display:inline-block}.jira-chart-macro-wrapper .info a{text-decoration:none}#jira-chart-macro-preview-contaier .aui-message{margin-top:-20px;margin-left:-19px;margin-right:-19px}#jira-chart .jira-chart-search-input.one-server{display:inline-block;width:535px}#jira-chart .jira-chart-option{background:none repeat scroll 0 0 #fff;border-top:1px solid #ccc;position:absolute;width:100%;z-index:50}#jira-chart a.jirachart-display-opts-open,#jira-chart a.jirachart-display-opts-close{font-size:14px;line-height:27px}#jira-chart a.jirachart-display-opts-open.disabled{opacity:.5;text-decoration:none;cursor:help;color:#838383}#jira-chart .dialog-panel-body{padding:0!important}#jira-chart .jira-chart-img .jira-chart-macro-img{text-align:center;padding-top:2px;height:375px;overflow:auto}#jira-chart .jira-chart-img .aui-message-container{margin:0 10px}.jira-chart-search-input{display:inline-block;width:380px}#jira-chart-servers.select{margin:0 8px 1px;padding-top:5px;max-width:125px}#jira-chart .jirachart-border{border:1px solid #ccc}#jira-chart .display-option-icon{width:15px;height:15px;display:inline-block;vertical-align:middle;margin:0 5px 3px 0}#jira-chart .jirachart-display-opts-close .display-option-icon{background:url(/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/5.6.17/_/download/resources/confluence.extra.jira:jirachart-resources/icon-expand-view-down.png) no-repeat}#jira-chart .jirachart-display-opts-open .display-option-icon{background:url(/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/5.6.17/_/download/resources/confluence.extra.jira:jirachart-resources/icon-expand-view-up.png) no-repeat}#jira-chart .loading-data{margin-left:250px;margin-top:60px}#jira-chart .moreToCome{padding-left:10px}#jira-chart .dialog-page-menu li button::-moz-focus-inner{margin:0;padding:0}#jira-chart-search-input.one-server.long-field{max-width:525px}#jira-chart-search-input.search-text{max-width:390px}#jira-chart .jiraChartOption{padding:8px 10px}#jira-chart .button-panel-button.disabled{background:linear-gradient(to bottom,#fff 0,#f2f2f2 100%) repeat scroll 0 0 rgba(0,0,0,0);border-color:#ccc;box-shadow:none;color:#999;cursor:default;text-shadow:none}.jirachart-border .jira-chart-macro-img{padding:1px;border:1px solid #CCC}.jira-chart-search-input.one-server{display:inline-block;width:535px}#jira-chart .help-aligment{margin-left:10px;cursor:pointer}.two-dimensional-chart,.two-dimensional-chart-module{display:inline-block}.two-dimensional-chart .chart-border{border:1px solid #CCC;padding:5px;display:inline-block}.two-dimensional-chart.view-mode{max-width:99%;overflow:auto}.two-dimensional-chart.preview-mode a,.two-dimensional-chart.preview-mode a:hover{cursor:default;text-decoration:none;color:#333!important}.two-dimensional-chart-table{border-collapse:collapse}.two-dimensional-chart-table th{background-color:#f5f5f5;text-align:left;vertical-align:bottom}.two-dimensional-chart-table td,.two-dimensional-chart-table th{border:1px solid #ccc;padding:4px}.two-dimensional-chart-table .totals{background-color:#f5f5f5;font-weight:700}.two-dimensional-chart-table .jira-issue-status-icon{vertical-align:middle}.two-dimensional-chart .gadget_image img{border:0 none;float:left;margin-right:4px;padding-top:2px}.two-dimensional-chart .default_image{background-position:4px 50%;background-repeat:no-repeat;padding-left:2em}.two-dimensional-chart .default_image_component{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHAAAAAAAAAAAAAAAAAAAAAAAAAAAACyF7fRAAAACHRSTlMAETNmd4jd7og4lAUAAAAbdEVYdGppcmEtc3lzdGVtLWltYWdlLXR5cGUAaWNvbroqOUUAAAB2SURBVHjaY2YAATXeD8weKS5/HqWoHWexrmCpeS7wX4HpL8MfpkAGxiAmoAoWAQYGESCD8c8HBoY3TCwCIv/WM/xfx3KkgmHH7Q+/HjBAzFFgYPRwYNjBAcQMzQwsDSAMMocBhJkYoABkDgMIs7AIsDKAMFwXAArdImNY1/cUAAAAAElFTkSuQmCCXyMAAAAASUVORK5CYII=)}.two-dimensional-chart .unreleased_unarchived_version{background-image:url(data:image/gif;base64,R0lGODlhEAAQAOYAAIhTAOazK82yecyZAPLp1rqHAMufPtiyVuvewK16AL6OHsmZIO3FePvIWMKjY55sDOy5P/jEUdzGn9CdEa18EOCtI7yOM+nEbcKPAPnSieGvLvrz4+DCe/3Xc9ijEplmAO+8R8mWDee0Nv3pr7aDANe6acGTRraFHqd0APvTe9SgJNasZt2qFdWsTvjQf+fSm8WSANq8eceVH/Tr1v/MZq1zAO67PdCeJrOEDfvbePe9StilGeCtKPfEWfLHcfv47ujCgua1Qr6LAO+7QOWyM8mWB45ZAMiYJs2aI/7KXsKODOOwL9mmJP/Oe+bWnPnx26l3Bf/dh////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUUAFIALAAAAAAQABAAAAeegFKCg4SFhk8lFxyGhCMdKSsPEoyDKSZGRh8OCDkaG4UvQAAfKCgeEBFDCzOEBxYoCQogDREQIhU4hCpRPgYUGSLBE0IJhDc0SQ00DC4eAwMYxYNIST06ts7P0YRIEREgtjvPMMSEMiDgIkseMO0FUOY2wRo8w0IFJPCDLUpMARUVQpAYeAJBoR8xjihhUSQBjheUBBFwgENAxIuDAgEAOw==);vertical-align:middle}.two-dimensional-chart .released_unarchived_version,.two-dimensional-chart .released_archived_version,.two-dimensional-chart .unreleased_archived_version{vertical-align:middle}.two-dimensional-chart .chart-summary{float:left;padding-top:5px}.two-dimensional-chart .show-link-container{display:inline-block}.two-dimensional-chart .show-link-container a{cursor:pointer}.two-dimensional-chart .show-link-container .show-error{color:#d04437}.wiki-content .two-dimensional-chart .aui-lozenge.jira-issue-status-lozenge-green{background-color:#fff;border-color:#b2d8b9;color:#14892c}.wiki-content .two-dimensional-chart .aui-lozenge.jira-issue-status-lozenge-blue-gray{background-color:#fff;border-color:#e4e8ed;color:#4a6785}.wiki-content .two-dimensional-chart .aui-lozenge.jira-issue-status-lozenge-yellow{background-color:#fff;border-color:#ffe28c;color:#594300}
/* module-key = 'com.atlassian.confluence.plugins.share-page:mail-page-resources', location = 'css/mailpage.css' */
.content-navigation .ajs-button .share>span{padding-left:0}.content-navigation .ajs-button .share>span::before{content:"\e015"}#inline-dialog-shareContentPopup .contents{overflow:visible}.share-content-popup .button-panel{text-align:right}.share-content-popup .button-panel input:disabled{color:graytext}.share-content-popup .button-panel .close-dialog{padding-left:5px}form.share-content-popup .textarea{height:100px;padding-left:3px;padding-right:3px;max-height:260px;width:250px}.share-content-popup ol.recipients{margin:7px 0 7px 0;padding:0;list-style-type:none}.share-content-popup ol.recipients li{margin:5px 0;line-height:24px;word-wrap:normal}.share-content-popup ol.recipients li .title{overflow:hidden;text-overflow:ellipsis;max-width:185px;display:inline-block;vertical-align:middle;white-space:nowrap}.share-content-popup ol.recipients li img{height:24px;width:24px;vertical-align:middle;border-radius:3px;margin-right:5px}.progress-messages{position:absolute;left:0;max-width:110px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:left;height:30px}.share-content-popup .done{width:16px;height:16px;top:7px;background:url(/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.5/_/download/resources/com.atlassian.confluence.plugins.share-page:mail-page-resources/images/tick.png) no-repeat}.share-content-popup .error{width:16px;height:16px;top:7px;background:url(/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.5/_/download/resources/com.atlassian.confluence.plugins.share-page:mail-page-resources/images/error.png) no-repeat}.share-content-popup .autocomplete li.active a span{color:white}.share-page-progress{position:absolute;background-color:white;z-index:1;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.share-page-progress-container-inner{position:absolute;text-align:center}.share-content-popup .remove-recipient{float:right;background:url(/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.5/_/download/resources/com.atlassian.confluence.plugins.share-page:mail-page-resources/images/delete.png) no-repeat 100% 50%;text-indent:-9999px;height:24px;width:24px;cursor:pointer}.share-content-popup .aui-dd-parent,#com-atlassian-confluence .share-content-popup .aui-dd-parent .aui-dropdown{width:250px}form.aui .share-page-progress-container-inner p{margin:0;padding-bottom:0}form.share-content-popup .field-group{padding-left:0}form.share-content-popup .field-group.button-panel{padding-bottom:0;margin-bottom:0;line-height:30px}.aui-inline-dialog .contents .share-content-popup .submit{text-align:center}
/* module-key = 'com.atlassian.confluence.plugins.watch-button:watch-resources', location = 'css/watch.css' */
.content-navigation .watch-menu.watching>span{background-image:url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAA3NCSVQICAjb4U/gAAAAJFBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHCCgoL////19fVwcHBwcHDPoo7sAAAADHRSTlMAESKImbvM3e7u7v97HVn+AAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABR0RVh0Q3JlYXRpb24gVGltZQA2LzEvMTM4qUXQAAAAQUlEQVQImWNgwAdUVu9yAtHMu4HAgIGBMRrE2CrAILZ7d+X03bsTGbJ3757RuXv3NgQDLsWYDVK8TQChHWEgTgAAcnclQo9PkVIAAAAASUVORK5CYII=)}.content-navigation .watch-menu.not-watching>span{background-image:url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAAe1BMVEX///9wcHCxsbFwcHBwcHBwcHCkpKShoaGdnZ2ZmZlwcHCUlJRwcHD////7+/v29vbz8/Pw8PDt7e3r6+vj4+PX19fT09PMzMzDw8O/v7++vr65ubm3t7exsbGJiYmJiYmHh4eFhYV+fn58fHx4eHh2dnZ1dXVycnJwcHBJpy62AAAAKXRSTlMAIjMzRFWZqrvMzN3d7u7u7u7u7u7u7u7u7u7u7u7u/////////////5CXlmwAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAFHRFWHRDcmVhdGlvbiBUaW1lADYvMS8xMzipRdAAAAB3SURBVBiVnY5JEoJQDEQjfAUNUSYFGYJKILn/CRV/WbLV3r2u6gHgPwUoaoLBh3fyuKZFM0jkOZ76nNU462ZcGKUiPmzChKkS9EwWAjgjOo8IqBdvbNUbgGN95MS5V6Se3iV77U9s39Jl9taUZXvXaH1MV8d+1BNKdAn6cxUraQAAAABJRU5ErkJggg==)}.cw-status{opacity:1.0;-webkit-transition:opacity 50ms linear;-moz-transition:opacity 50ms linear;-o-transition:opacity 50ms linear;transition:opacity 50ms linear}.cw-status.loading{opacity:.4}.cw-title-description{margin-top:0;margin-bottom:10px}.cw-manage-watchers-wrapper{margin-top:10px;margin-bottom:-5px}.cw-tooltip{padding-top:5px;margin-left:-20px;padding-left:20px}#cw-notification-container{position:fixed;bottom:30px;right:30px;width:300px;z-index:5}
/* module-key = 'com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources', location = 'css/talk.autocomplete.css' */
.gd-suggestions {
    padding: 0;
    margin: 0;
    border: 1px solid #BBB;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    z-index: 5000;
    white-space: nowrap;
    overflow: hidden;
}

.gd-suggestions ol {
    border-bottom: none;
    list-style: none;
    margin: 0;
    padding: 4px 0;
}

.gd-suggestions ol li {
    color: #535353;
    height: 24px;
    line-height: 24px;
    padding: 0 .3em;
    position: relative;
    margin: 2px 0;
    cursor: pointer;
}

.gd-suggestions ol li.gd-suggestion-active {
    color: #ffffff;
    background-color: #6699cc;
}

.gd-suggestions ol li img {
    height: 22px;
    left: 6px;
    position: absolute;
    top: .35em;
    width: 22px;
    border: 0;
}

.gd-suggestions .gd-no-results {
    font-style: italic;
    cursor: default;
}

.gd-mention .gd-suggestion {
    padding-left: 30px;
}

a.link-suggestion {
    color: #535353;
    text-decoration: none;
}

.link-suggestion .gd-suggestion {
    padding-left: 20px;
}

.gd-suggestions .gd-suggestion-thumbnail {
    width: 16px;
    height: 16px;
}
/* module-key = 'com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources', location = 'css/talk.css' */
#main #content.gd-content-offset,
#main #content .gd-content-offset,
#main #personal-info-sidebar.gd-content-offset,
#main #blog-sidebar.gd-content-offset,
#zen-main.gd-content-offset,
#rw_main_column.gd-content-offset {
    margin-right: 280px;
    padding-right: 0;
}

.brikit .gd-content-offset {
    width: auto !important;
}

.gd-zen-main-offset {
    padding-right: 260px;
}

#talk-settings-dialog-item span {
    background: url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/talk-settings.png") 0 2px no-repeat;
    padding-left: 20px;
}

.talk-dialog-no-license {
    color: #ff0000;
    padding-top: 20px;
}

#zen-toolbar #talk-settings-dialog-item span {
    display: block;
    height: 16px;
    background-position: 0 0;
}

#rw_menu_bar #talk-settings-dialog-item span {
    background-position: 0 4px;
}

#talk-insert-pointer {
    display: inline-block;
}

li > span[talk-marker]:not(.talk-image) {
    display: block;
}

#icon-talk-insert.gd-comment-icon-insert {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/talk-add.png") 0 0 no-repeat;
    position: absolute;
    z-index: 7;
    display: none;
    width: 24px;
}

.gd-comment-icon {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/talk.png") 0 0 no-repeat;
    display: inline-block !important;
    height: 16px;
    width: 16px;
    cursor: default;
    border-bottom: none !important;
    line-height: 20px;
}

.gd-comment-icon:hover {
    text-decoration: none;
}

.gd-comment-icon:focus {
    text-decoration: none;
}

.gd-comment-icon.talk-archived {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/talk-archived.png") 0 0 no-repeat;
}

.gd-comment-icon > span {
    position: absolute;
    margin-left: 12px;
    margin-top: 14px;
    line-height: 9px;
    font-size: 9px;
    font-weight: normal;
    color: #333;
}

.gd-comment-icon span span:after {
    content: attr(data-count);
}

#icon-talk-insert.gd-comment-icon span {
    visibility: hidden;
}

.wiki-content a.gd-comment-icon:hover {
    border: none;
}

.gd-comment-icon.gd-comment-icon-active {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/talk-open.png") 0 0 no-repeat;
}

.gd-comment-icon.gd-comment-icon-active.talk-archived {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/talk-archived-open.png") 0 0 no-repeat;
}

#gd-comments-messages .aui-message {
    z-index: 6;
    position: fixed;
    margin-right: 25px;
}

body.edit #gd-comments-messages .aui-message,
body.create #gd-comments-messages .aui-message {
    top: 150px;
}

.gd-error-container .aui-message {
    margin: 10px;
}

.gd-comments-sidebar {
    position: absolute;
    white-space: normal;
    text-align: left;
    overflow: visible;
}

body.profile #talk-shower,
body.profile #talk-hider {
    display: none;
}

#talk-show-hide-container {
    position: fixed;
    top: 50%;
    cursor: pointer;
    color: #707070;
}

#talk-show-hide-container div {
    width: 16px;
    height: 16px;
    opacity: 0.4;
}

#talk-show-hide-container div:hover {
    opacity: 1;
}

#talk-hider {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/hide.png") 0 0 no-repeat;
}

#talk-shower {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/show.png") 0 0 no-repeat;
}

#talk-show-hide-container .talk-navigator {
    position: absolute;
}

#talk-up {
    top: -35px;
}

#talk-up, .talk-up {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/arrow-up.png") 0 0 no-repeat;
}

#talk-down {
    bottom: -35px;
}

#talk-down, .talk-down {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/arrow-down.png") 0 0 no-repeat;
}

.talk-star {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/fav-on.png") 0 0 no-repeat;
}

.talk-unstar {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/fav-off.png") 0 0 no-repeat;
}

.brikit #talk-shower {
    right: 15px;
    position: relative;
}

.gd-comments {
    color: black;
    font-family: Arial,sans-serif,sans,serif;
    font-size: 13px;
}

.gd-pane-view:focus,
.gd-pane-view:active {
    outline: 0 none;
}

.gd-comments-layout .gd-pane-view {
    -moz-user-select: text;
    background-color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    border: 1px solid #D9D9D9;
    border-radius: 1px;
    position: absolute;
    z-index: 4;
    width: 240px;
}

.gd-comments-layout .gd-pane-view:hover {
    border-color: #C6C6C6 !important;
    background-image: -moz-linear-gradient(top , #F8F8F8, #F1F1F1);
    background-image: -webkit-linear-gradient(top , #F8F8F8, #F1F1F1);
    background-image: -ms-linear-gradient(top , #F8F8F8, #F1F1F1);
}

.gd-comments-layout .gd-pane-view.gd-pane-trimmed {
    border-top: none;
}

.gd-comments-layout .gd-pane-view.gd-comment-active.gd-pane-trimmed {
    border-top: none;
}

.gd-pane-view.gd-new-editor .gd-input-pane:not(.gd-no-license),
.gd-comment-active.gd-pane-view.gd-new-editor  > .gd-resolve-button {
    display: none;
}

.gd-pane-view.gd-new-editor .gd-reply-timestamp {
    visibility: hidden;
}

.gd-comment-active.editable.gd-new-editor .talk-restrictions {
    top: 2px;
}

.gd-pane-view .gd-after {
    display: none;
}

.gd-pane-view.gd-pane-trimmed .gd-after {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 50px;
    position: absolute;
    z-index: 6;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.gd-tools-container {
    text-align: right;
    height: 24px;
    padding-left: 5px;
}

.gd-navigator-container {
    float: left;
    margin-top: 3px;
    color: #707070;
}

.gd-position-counter {
    margin-left: 5px;
    font-size: 12px;
}

body.profile .talk-archived .gd-navigator-container {
    display: block;
}

.talk-archived:not(.new-replies) .gd-navigator-container {
    display: none;
}

.gd-pane-view .talk-navigator {
    cursor: pointer;
    display: none;
}

.gd-pane-view.gd-comment-active .talk-navigator {
    display: inline-block;
}

.talk-restrictions {
    cursor: pointer;
    z-index: 6;
    width: 34px;
    display: inline-block;
    margin-top: 3px;
}

.talk-restriction-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: text-top;
}

.talk-restricted {
    height: 16px;
    width: 16px;
    display: inline-block;
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/lock.png") 0 0 no-repeat;
}

.gd-comment-active:not(.talk-archived) .talk-not-restricted {
    height: 16px;
    width: 16px;
    display: inline-block;
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/unlock.png") 0 0 no-repeat;
    margin-right: 2px;
}

.talk-restrictions .talk-favorite-icon.talk-unstar {
    display: none;
}

.gd-comment-active .talk-restrictions .talk-favorite-icon.talk-unstar {
    display: inline-block;
}

.talk-restrictions .talk-favorite-icon {
    right: 2px;
    color: #707070;
}

.talk-permissions-dialog .aui-dropdown {
    width: 99% !important;
}

.talk-permissions-dialog .aui-dropdown .last a span {
    background-position: 6px;
}

.talk-permissions-dialog-buttons {
    padding-top: 10px;
}

.talk-cancel-permissions {
    margin-left: 10px;
}

.talk-action-status {
    height: 16px;
    width: 16px;
    float: right;
    display: none;
    margin-top: 7px;
}

.not-editable .remove-restriction {
    display: none;
}

.gd-reply.gd-reply-first {
    border-top: medium none !important;
}

.gd-reply,
.gd-content-collapser {
    border-top: 1px solid #F0F0F0;
    padding: 7px;
    position: relative;
}

.gd-content-collapser {
    display: none;
}

.long-thread .gd-content-collapser {
    display: block;
}

.long-thread .gd-reply {
    display: none;
}

.long-thread .gd-reply:first-of-type,
.long-thread .gd-reply:last-of-type {
    display: block;
}

.gd-comment-active .gd-content-collapser {
    display: none;
}

.gd-comment-active.long-thread .gd-reply {
    display: block;
}

.gd-reply.new-reply {
    background-color: #ebf2f9;
}

.gd-comment-active .gd-reply.new-reply {
    background-color: #ffe9a8;
}

.gd-user-icon {
    position: absolute;
    left: 7px !important;
}

.gd-reply-author {
    font-weight: bold;
    margin-left: 32px;
}

.gd-reply-timestamp {
    color: #666666;
    font-size: 10px;
    margin: 3px 0 0 32px;
}

.gd-reply-collapsible {
    position: relative;
}

.gd-comment-active .gd-reply.collapsible.collapsed .gd-reply-collapsible,
.gd-pane-view:not(.gd-comment-active) .gd-reply.collapsible .gd-reply-collapsible {
    max-height: 105px;
    overflow: hidden;
}

.gd-reply .gd-long-reply-blur {
    display: none;
    height: 40px;
    width: 226px;
    position: absolute;
}

.gd-pane-view:not(.gd-comment-active) .gd-reply.collapsible .gd-long-reply-blur {
    display: block;
    bottom: 7px;
    background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.gd-pane-view:not(.gd-comment-active) .gd-reply.new-reply.collapsible .gd-long-reply-blur {
    display: block;
    bottom: 7px;
    background: -moz-linear-gradient(bottom, rgba(235,242,249,1) 0%, rgba(235,242,249,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(235,242,249,1) 0%,rgba(235,242,249,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(235,242,249,1) 0%,rgba(235,242,249,0) 100%);
    background: linear-gradient(bottom, rgba(235,242,249,1) 0%,rgba(235,242,249,0) 100%);
}

.gd-pane-view:not(.gd-comment-active):hover .gd-reply.collapsible .gd-long-reply-blur {
    background: -moz-linear-gradient(bottom, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(244,244,244,1) 0%,rgba(244,244,244,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(244,244,244,1) 0%,rgba(244,244,244,0) 100%);
    background: linear-gradient(bottom, rgba(244,244,244,1) 0%,rgba(244,244,244,0) 100%);
}

.gd-pane-view.gd-comment-active .gd-reply.collapsible.collapsed .gd-long-reply-blur {
    display: block;
    bottom: 25px;
    background: -moz-linear-gradient(bottom, rgba(252,250,198,1) 0%, rgba(252,250,198,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(252,250,198,1) 0%,rgba(252,250,198,0) 100%);
    background: -ms-linear-gradient(bottom, rgba(252,250,198,1) 0%,rgba(252,250,198,0) 100%);
    background: linear-gradient(bottom, rgba(252,250,198,1) 0%,rgba(252,250,198,0) 100%);
}

.gd-reply-html {
    color: #333333;
    padding-bottom: 3px;
    padding-top: 3px;
    word-wrap: break-word;
    margin-bottom: -10px;
}

.gd-reply-preview {
    margin-bottom: 0;
}

#talk-insert .gd-reply-preview {
    padding-top: 20px;
    margin-bottom: -15px;
}

.gd-reply-html p,
.gd-reply-html table,
.gd-reply-html h1,
.gd-reply-html h2,
.gd-reply-html h3,
.gd-reply-html h4,
.gd-reply-html h5,
.gd-reply-html h6,
.gd-reply-html blockquote,
.gd-reply-html .sectionColumnWrapper,
.gd-reply-html .aui-message {
    margin-top: 0;
    margin-bottom: 10px;
}

.gd-reply-html ul, .gd-reply-html ol {
    padding-left: 20px;
    margin-top: 0;
}

.gd-reply-html > ul, .gd-reply-html > ol {
    margin-bottom: 10px;
}

.gd-pane-view .gd-reply-resolve-undo,
.gd-reply-edit,
.gd-reply-resolve-undo,
.gd-comment-active .gd-comment,
.gd-comment-active .gd-resolve {
    color: #1155CC;
}

.gd-inline-block {
    display: inline-block;
    position: relative;
}

.gd-reply .gd-reply-control {
    display: none;
}

.gd-reply-delete,
.gd-reply-edit,
.gd-reply-show-less,
.gd-reply-show-more,
.gd-comment-show-all {
    color: #3366CC;
    font-size: 11px;
    margin: 0 2px;
}

.gd-reply-show-less,
.gd-reply-show-more {
    display: none;
    float: right;
}

.collapsible.collapsed .gd-reply-show-more {
    display: inline-block;
}

.collapsible .gd-reply-show-less {
    display: inline-block;
}

.collapsible.collapsed .gd-reply-show-less {
    display: none;
}

.gd-reply-delete:hover,
.gd-reply-edit:hover,
.gd-reply-show-less:hover,
.gd-reply-show-more:hover,
.gd-comment-show-all:hover {
    cursor: pointer;
    text-decoration: underline;
}

.gd-input {
    position: relative;
    z-index: 6;
}

.gd-input-spinner {
    background: url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/loading.gif") no-repeat;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
}

.gd-input-textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border: 1px solid #C8C8C8;
    color: #999999;
    font-family: Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    outline-width: 0 !important;
    overflow: hidden;
    padding: 4px;
    resize: none;
    width: 100%;
}

.gd-input-textarea-markup {
    display: none;
}

.gd-input-buttons {
    display: none;
    /*todo временно отключаем*/
    /*text-align: right;*/
}

.gd-button {
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin-right: 16px;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.gd-button-action {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
}

.gd-button-standard {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444;
}

.gd-input-cancel {
    margin: 2px 0;
    /*todo временно отключаем*/
    /*float: right;*/
    min-width: 0;
    /*todo временно отключаем*/
    /*padding-left: 0;*/
    border-bottom: none !important;
}

.gd-input-post {
    margin: 2px 7px 2px 0;
}

.gd-input-preview, .gd-input-edit {
    margin: 2px 7px 2px 0;
    padding: 0 6px;
    float: left;
    /*todo временно отключаем*/
    display: none;
}

.gd-input-buttons-post {
    font-weight: bold;
}

.gd-pane-view .gd-reply-resolve {
    border-top: 1px solid #FEEF9C;
    bottom: 0;
    left: 0;
    padding-top: 6px;
    position: relative;
    width: 100%;
}

.gd-pane-view .gd-reply-resolve-header {
    font-weight: bold;
    margin: 0 6px;
    padding: 2px 0;
}

.gd-pane-view .gd-reply-resolve-undo {
    color: #3366CC;
    cursor: pointer;
    font-weight: bold;
}

.gd-manage-button {
    display: none;
    font-size: 10px;
    padding-left: 2px;
    float: right;
}
.gd-manage-button > .gd-button {
    height: 17px;
    line-height: 17px;
    margin: 2px 2px 0 0;
}

#talk-insert .gd-input-pane {
    border-top: none;
}

.gd-input-pane {
    border-top: 1px solid #F0F0F0;
    display: none;
    padding: 7px;
}

.gd-input-pane .gd-input-spinner {
    right: 12px;
    top: 12px;
}

.gd-input-pane .gd-input-textarea {
    height: 26px;
}

.gd-button-action.gd-button-disabled {
    background: none repeat scroll 0 0 #4D90FE;
    opacity: 0.5;
    cursor: default;
 }

.gd-button-standard.gd-button-disabled {
    opacity: 0.7;
    cursor: default;
}

.gd-comments-layout .gd-arrow-outer {
    border-top: none;
    border-bottom: 14px solid transparent;
    border-left: none;
    border-right: 14px solid #FFE764;
    left: -15px;
    top: -1px;
}

.gd-comments-layout .gd-arrow-outer {
    border-right: 14px solid #FFE572;
    display: none;
}

.gd-comments-layout .gd-arrow-inner,
.gd-comments-layout .gd-arrow-outer {
    height: 0;
    position: absolute;
    width: 0;
}

.gd-comments-layout .gd-arrow-inner {
    border-top: none;
    border-bottom: 14px solid transparent;
    border-left: none;
    border-right: 14px solid #FFFCE9;
    left: -13px;
    top: 0;
}

.gd-comments-layout .gd-arrow-inner {
    border-right: 14px solid #FCFAC6;
    display: none;
}

/* Active Talk Comments */
.gd-comment-active.gd-pane-view,
.gd-comment-active.gd-pane-view:hover {
    background: none repeat scroll 0 0 #FCFAC6 !important;
}

.gd-comments-layout .gd-pane-view.gd-comment-active {
    cursor: default;
}

.gd-comments-layout .gd-comment-active.gd-pane-view {
    border: 1px solid #FFE764;
    border-top-left-radius: 0;
    box-shadow: 2px 2px 8px #CCCCCC;
    z-index: 5;
}

.gd-comments-layout .gd-comment-active.gd-pane-view,
.gd-comments-layout .gd-comment-active.gd-pane-view:hover {
    border-color: #FFE572 !important;
    border-radius: 0 0 0 0;
}

.gd-comments-layout .gd-comment-active.gd-pane-view > .gd-arrow-inner,
.gd-comments-layout .gd-comment-active.gd-pane-view > .gd-arrow-outer {
    display: block;
}

.gd-comment-active.gd-pane-view .gd-reply-control {
    display: block;
    overflow: auto;
}

.gd-comment-active.gd-pane-view.talk-archived .gd-reply-control,
.gd-comment-active.gd-pane-view.talk-archived .gd-input-pane,
.gd-comment-active.gd-pane-view.talk-archived .gd-resolve-button {
    display: none;
}

.gd-comment-active.gd-pane-view > div > .gd-reply {
    border-top: 1px solid #FEEF9C;
}

.gd-comment-active.gd-pane-view .gd-resolve-button {
    display: block;
    opacity: 1;
}

.gd-comment-active.gd-pane-view .gd-restore-button {
    display: none;
}

.gd-comment-active.gd-pane-view.talk-archived .gd-restore-button {
    display: block;
}

.gd-button-standard:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.gd-button-action.gd-button-hover {
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    border: 1px solid #2F5BB7;
}

.gd-button-standard.gd-button-hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    color: #333333;
}

.gd-comment-active.gd-pane-view > .gd-input-pane {
    border-top: 1px solid #FEEF9C;
    display: block;
}

.gd-input-typing > .gd-input-textarea {
    color: #000000;
}

.gd-input-textarea:disabled {
    background-color: #EEEEEE !important;
}

.gd-input-typing > .gd-input-buttons {
    display: block;
}

#gd-shadow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 7;
}

#gd-shadow tbody tr td {
    text-align: center;
    color: #FFFFFF;
}

#gd-shadow.bottom tbody tr td {
    vertical-align: bottom;
}

#gd-shadow.top tbody tr td {
    vertical-align: top;
}

#gd-shadow table {
    margin-left: 30px;
    width: 200px;
}

#gd-shadow table table.shadow-buttons-table {
    margin-left: 0;
    width: 100%;
}

.shadow-buttons-table .gd-button-standard {
    margin: 0;
}

#gd-shadow-description {
    font-weight: bold;
}

.gd-no-license, .gd-eval-expiring {
    color: #ff0000;
    font-size: 11px;
}

.gd-eval-expiring {
    padding-bottom: 5px;
}

#zen-header-back #header,
#zen-footer-back #zen-footer {
    z-index: 4;
}

#main #content.gd-content-offset .pageSection {
    margin-right: 0;
}

#messageContainer {
    z-index: 10;
    position: relative;
}

.theme-documentation #license-banner {
    z-index: 10;
}

.theme-documentation #header,
.sv-theme #header,
.theme-documentation #footer {
    position: relative !important;
    z-index: 10;
}

.theme-documentation #footer {
    background: inherit;
}

.contenteditor .gd-comments-sidebar {
    position: fixed;
}

.contenteditor.lighter-editor .gd-comments-sidebar {
    z-index: 1;
}

#license-banner,
#stp-licenseStatus-banner,
#header-precursor .cell,
.contenteditor #header,
.contenteditor #editor-notifications-container,
.contenteditor:not(.lighter-editor):not(.zen-theme) #editor-precursor .cell,
.contenteditor #rte-toolbar,
.contenteditor #savebar-container,
.contenteditor #rte-savebar {
    z-index: 10 !important;
}

.contenteditor.lighter-editor #wysiwyg {
    z-index: 1;
}

.contenteditor #header,
#header-precursor .cell,
.contenteditor #editor-precursor .cell {
    position: relative !important;
}

.contenteditor #editor-precursor .cell {
    background-color: inherit;
}

#inline-dialog-talk-feature-discovery .contents ul {
    padding-left: 30px;
}

#cipe-diff {
    position: relative;
    z-index: 10;
}

#balsamiq_mockups_editor_iframe {
    z-index: 10;
}

.qr-notice-container {
    z-index: 5;
}

#inline-dialog-talk-fav-fd-end {
    z-index: 100000;
}

.talk-inline-insert {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/talk-settings.png") 0 0 no-repeat;
}
/* module-key = 'com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources', location = 'css/talk-permissions-view.css' */
#talk-no-permissions {
    display: none;
}

#talk-restrictions div {
    margin: 5px 0;
}

.restriction-icon {
    position: relative;
    top: 3px;
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.restriction-title {
    white-space: nowrap;
}

.remove-restriction {
    position: relative;
    top: 3px;
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;
}

.remove-restriction-icon {
    background: transparent url("/s/ru_RU-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.41/3.1.0/_/download/resources/com.stiltsoft.confluence.talk.confluence-talk-plugin:talk-resources/images/delete.png") 0 0 no-repeat;
    height: 100%;
    display: block;
}

